<!DOCTYPE html>
<html>
  <head>
    <title>Parkinson's Disease Detector</title>
  </head>
  <body style="background-color: #e9e9e9; font-family: Arial, sans-serif">
    <div
      style="
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
      "
    >
      <h1 style="color: #004c8c; font-size: 36px; text-align: center">
        Parkinson's Disease Detector
      </h1>
      <div style="margin: 20px 0">
        <h2 style="color: #333; font-size: 24px">Upload an Image</h2>
        <form
          method="post"
          action="{{ url_for('preds') }}"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="image"
            accept=".png, .jpg, .jpeg"
            required
            style="
              border: none;
              padding: 10px 20px;
              background-color: #f2f2f2;
              font-size: 18px;
              color: #333;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            "
          /><br /><br />
          <input
            type="submit"
            value="Predict"
            style="
              border: none;
              padding: 10px 20px;
              background-color: #004c8c;
              font-size: 18px;
              color: #fff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              cursor: pointer;
              transition: all 0.2s ease-in-out;
            "
          />
        </form>
      </div>
      <div style="margin: 20px 0">
        <h2 style="color: #333; font-size: 24px">Upload a Sound File</h2>
        <form
          method="post"
          action="{{ url_for('sound') }}"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="sound"
            accept=".wav, .mp3"
            required
            style="
              border: none;
              padding: 10px 20px;
              background-color: #f2f2f2;
              font-size: 18px;
              color: #333;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            "
          /><br /><br />
          <input
            type="submit"
            value="Predict"
            style="
              border: none;
              padding: 10px 20px;
              background-color: #004c8c;
              font-size: 18px;
              color: #fff;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              cursor: pointer;
              transition: all 0.2s ease-in-out;
            "
          />
        </form>
      </div>
    </div>
  </body>
</html>
